mixin hello(name)
  .hello Hello #{name}!

mixin jpg(name)
  img(src=require(`../src/img/${name}.jpg`), alt=name)

mixin png(name)
  img(src=require(`../src/img/${name}.png`), alt=name)

mixin gif(name)
  img(src=require(`../src/img/${name}.gif`), alt=name)

mixin svg(name)
  img(src=require(`../src/img/${name}.svg`), alt=name)
